@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5c8374;
  --secondary-color: #183d3d;
}

body {
  background-color: var(--primary-color);
  font-family: "Noto Serif", serif;
  margin: 0;
}

.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

#search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 0.3rem 3rem;
  border-radius: 50px;
  font-size: 0.8rem;
  color: white;
  font-family: inherit;
}
#search:hover {
  background: var(--primary-color);
  transition: 0.7s;
}

.search::placeholder {
  color: #ffffff;
  opacity: 0.4;
}
.bttn {
  margin-left: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  height: 35px;
  width: 35px;
  color: white;
  cursor: pointer;
}
.bttn:hover {
  background: var(--primary-color);
  transition: 0.7s;
}

.movie {
  width: 250px;
  height: 375px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgb(0, 0, 0, 1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: 80%;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  font-size: 0.7rem;
  gap: 10px;
}

.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  background-color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 7px;
  font-weight: bold;
}

.movie-info span.green {
  background-color: rgb(10, 237, 158);
}
.movie-info span.orange {
  background-color: rgb(221, 165, 61);
}
.movie-info span.red {
  background-color: red;
}
.overview {
  position: absolute;
  word-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(211, 251, 237);
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  cursor: pointer;
}
.overview h3 {
  font-family: "Noto Serif", serif;
}

.movie:hover .overview {
  transform: translateY(0);
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: #245c5c;
  border-radius: 20px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
}
.tag:hover {
  background-color: #164343;
  color: rgb(230, 230, 168);
  transition: all 0.6s ease;
}
.tag.clicked {
  background-color: #022f2f;
}

.no_result {
  color: white;
}

#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 30px;
  margin: 25px 30px;
}

#current {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: #183d3d;
  border-radius: 5px;
}

.neighbours {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #317d7d;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
.neighbours:hover {
  background-color: #183d3d;
  font-size: 18px;
  transition: all 0.5s ease;
}

.disabled {
  display: none;
}
.knowMore {
  background-color: #245c5c;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  padding: 5px 10px;
}

.knowMore:hover {
  background-color: #164343;
  color: rgb(230, 230, 168);
  transition: all 0.7s ease;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.embed.hide {
  display: none;
}
.embed.show {
  display: inline-block;
}

.arrow {
  position: absolute;
  top: 50%;
}
.arrow.left-arrow {
  left: 20%;
}
.arrow.right-arrow {
  right: 20%;
}
